# This file was updated by Duplicator on 2024-03-08 10:43:15.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.

# END WordPress